<div class="container max_924">

	<div class="row">
		<div class="col-sm-4 col-sm-offset-4" style="text-align: center;border-bottom: 1px solid #C9C9C9;">
			<img src="<%= image_path('terms-image-850.png') %>" class="width_100" style="height: 73px;width: 190px;">
		</div>
	</div>

	<div class="padding_bottom_60 padding_top_20">
		<div class="panel panel-bills">
			<div class="panel-body">

				<div class="row text-center padding_top_20">
					<div class="col-md-12">
						<iframe width="560" height="315" style="max-width: 95%;" src="https://www.youtube.com/embed/dfH8X9PZ4cQ" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>

				<p class="text-din-medium privacy_section_header">Who We Are</p>

				<li class="text-din terms_li_no_bullet">WHIP is a mission driven start-up organisation whose vision is to create a constructive civic engagement and participation platform.</li>

				<p class="text-din-medium privacy_section_header">What We Do</p>

				<li class="text-din terms_li_no_bullet" style="padding-bottom: 8px;">WHIP makes engaging in the political sphere easy, providing users with tools to directly influence MPs and hold them to account. Users can learn about the legislation in Parliament, influence MPs and rally support for Bills and issues. In addition, users can get their views to MPs, encourage friends on social media to do the same and get updates on how MPs actually vote - all within 1 minute.</li>

				<li class="text-din terms_li_no_bullet">MPs and Organisations can use WHIP to build support for their positions and expand their membership and directly communicate with the electorate.</li>


				<p class="text-din-medium privacy_section_header">Our Mission</p>

				<li class="text-din terms_li_no_bullet" style="padding-bottom: 8px;">WHIP’s mission is to engage, educate and empower, placing Parliament in your hands. We want everyone to be able to enter the political debate and have their voices heard. The void between the electorate and Parliament is ever growing, however, we can close the gap through a rapport between the two.</li> 

				<li class="text-din terms_li_no_bullet">What if every British citizen could see and understand the bills going through Westminster? What if every British citizen could express an opinion on this information? What if every British citizen could see if their MP was listening to their opinions? In other words, have Parliament in your hands.</li> 

				<p class="text-din-medium privacy_section_header">Our Moto</p>

				<li class="text-din terms_li_no_bullet text-din-medium" style="padding-top: 30px;">
					<div class="row" style="">
						<div class="col-sm-2 col-sm-offset-3 text-center">
							<img src="<%= image_path('engage_icon.png') %>" style="margin-bottom: 8px; height:63px;" class="image" />
							<p class="headers prelaunch_text_engage" style="font-size:12px;padding-bottom:20px;">ENGAGE</p>
						</div>
					 
					 	<div class="col-sm-2 text-center">
					 		<img src="<%= image_path('educate_icon.png') %>" style="margin-bottom: 8px; height:54px;" class="image" />
					 		<p class="headers prelaunch_text_engage" style="font-size:12px;position: relative;top: 5px;padding-bottom:20px;">EDUCATE</p>
					 	</div>
					 	<div class="col-sm-2 text-center">
					 		<img src="<%= image_path('empower_icon.png') %>" style="margin-bottom: 8px; height:57px;" class="image" />
					 		<p class="headers prelaunch_text_engage" style="font-size:12px;padding-bottom:20px;">EMPOWER</p>
					 	</div>
					</div>
				</li>

				<p class="text-din-medium privacy_section_header">Core Values</p>

				<li class="text-din terms_li_no_bullet" style="padding-bottom: 8px;">Non-partisan: We are independent and do not support or oppose a particular political party or MP.</li>
				<li class="text-din terms_li_no_bullet" style="padding-bottom: 8px;">Transparent: Provide clear sources for our summaries and the process we use.</li>
				<li class="text-din terms_li_no_bullet">Accurate: All our content is based on Westminister summaries and bill texts.</li>


				<p class="text-din-medium privacy_section_header" style="padding-bottom: 8px;">We Provide</p>

				<li class="text-din terms_li_no_bullet text-din-medium list_style_none">Three defined services for the public:</li>

				<ol>
				<li class="text-din terms_li_no_bullet">1. Understand the Bills going through Westminster.</li>
				<li class="text-din terms_li_no_bullet">2. Easily tell your MP how to vote on those Bills.</li>
				<li class="text-din terms_li_no_bullet" style="padding-bottom: 8px;">3. See how your MP voted and if they are listening.</li>
				</ol>


				<li class="text-din terms_li_no_bullet text-din-medium list_style_none">Three defined services for MP’s:</li>

				<ol>
				<li class="text-din terms_li_no_bullet">1. Opinion polls directly from their constituency.</li>
				<li class="text-din terms_li_no_bullet">2. A platform to voice opinions and defend voting record.</li>
				<li class="text-din terms_li_no_bullet" style="padding-bottom: 8px;">3. A platform to keep their electorate up to date with events in Parliament.</li>
				</ol>

				<p class="text-din-medium privacy_section_header">FAQ’s</p>

				<li class="text-din terms_li_no_bullet text-din-medium">How do we break down Bills?</li>
				<li class="text-din terms_li_no_bullet" style="padding-bottom: 12px;">Our team of researchers review and synthesis Bills currently going through Parliament. The team follows WHIP’s core values of bi-partisanship, transparency and accuracy to provide answers to the following questions:</li>
				<li class="text-din terms_li_no_bullet">The Bills meaning?</li>
				<li class="text-din terms_li_no_bullet">Arguments for?</li>
				<li class="text-din terms_li_no_bullet">Arguments against?</li>
				<li class="text-din terms_li_no_bullet">Who does it impact?</li>
				<li class="text-din terms_li_no_bullet">Potential costs?</li>

				<li class="text-din terms_li_no_bullet text-din-medium" style="padding-top: 16px;">How come not all Bills are on the platform?</li>
				<li class="text-din terms_li_no_bullet">It is early days for WHIP. We will be following as many Bills as possible. However, many Bills being put to Parliament will fail to progress past the first hurdle, for example, a Bill may not receive enough traction within the house. WHIP aims to provide users with information about the Bills likely to be voted on in Parliament and allow them to express their views on policies that have the potential to affect them.</li>

			</div>
		</div>
		
	</div>
	
</div><!-- .container max_924 -->