<div class="container max_924">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<img src="<%= image_path('terms-image-850.png') %>" style="width:100%;">
		</div>
		<div class="col-md-12 bottom_line_gray"></div>
	</div>

	<div class="padding_bottom_60 padding_top_20">
		<div class="panel panel-bills">
			<div class="panel-body">

				<h2 class="headers" style="font-size: 20px;">CONTACT</h2>

				<p class="text"><%= mail_to 'contact@whip.org.uk' %></p>

				<div class="text-left padding_bottom_60">
					<div style='width: auto;display:inline-block;padding: 10px;'>
						<a href='https://www.facebook.com/whipuk' target='_blank'><img src='http://www.whip.org.uk/assets/fb_icon-77e79838462dfb06153ec7dba9dd1301.png'></a>
					</div>
					<div style='width: auto;display:inline-block;padding: 10px;'>
						<a href='https://twitter.com/whipuk' target='_blank'><img src='http://www.whip.org.uk/assets/tw_icon-9e3911be9aa26638ea6aec45da76187b.png'></a>
					</div>
					<div style='width: auto;display:inline-block;padding: 10px;'>
						<a href='https://instagram.com/whipuk/' target='_blank'><img src='http://www.whip.org.uk/assets/insta_icon-815ef56e006ac03a77335fcb9ee52197.png'></a>
					</div>
					<div style='width: auto;display:inline-block;padding: 10px;'>
						<a href='https://www.youtube.com/channel/UCdt6hdrjwrRB9hLzvUdl5Lw' target='_blank'><img src='http://www.whip.org.uk/assets/youtube_icon-1f5090b500f609279a516bbdf25dcfb3.png'></a>
					</div>
					<div style='width: auto;display:inline-block;padding: 10px;'>
						<a href='http://whipuk.tumblr.com/' target='_blank'><img src='http://www.whip.org.uk/assets/tumblr_icon-4f35e3c96f52b9416a6f1532e4217b85.png'></a>
					</div>
				 </div>

			</div>
		</div>
	</div>
</div><!-- .container max_924 -->