<div class="container max_924">

	<div class="row">
		<div class="col-sm-4 col-sm-offset-4" style="text-align: center;border-bottom: 1px solid #C9C9C9;">
			<img src="<%= image_path('terms-image-850.png') %>" class="width_100" style="height: 73px;width: 190px;">
		</div>
	</div>

	<div class="padding_bottom_60 padding_top_20">
		<div class="panel panel-bills">
			<div class="panel-body">

				<div class="row text-center padding_top_20">
					<div class="col-md-12">
						<img src="<%= image_path('guidelines_img.jpg') %>" class="width_100" style="width: 95%;">
					</div>
				</div>

				<p class="text-din privacy_section_header">Whip Guidelines</p>

				<li class="text-din terms_li_no_bullet" style="padding-bottom: 8px;">Now, everyday, you can use Whip to see what is going on in Westminster, influence your MP at the touch of the button and see what your friends think about the important issues.</li>

				<li class="text-din terms_li_no_bullet">We see Whip as an engagement platform, where everybody can express their opinions and share their views. Furthermore, we hope that Whip can be used to bring voices together and be a building block to bring about change. However, we want people to feel safe when using Whip, we don’t want the platform to be an arena for a rowdy slag off. For that reason we’ve developed a set of guidelines. Please bear these in mind when using the platform. </li>

				<p class="text-din privacy_section_header">Free speech</p>

				<li class="text-din terms_li_no_bullet" style="padding-bottom: 8px;">“I am very little inclined on any occasion to say anything unless I hope to produce some good by it.” ― Abraham Lincoln. </li>

				<li class="text-din terms_li_no_bullet" style="padding-bottom: 8px;">We are strong advocates of free speech but do not tolerate malicious speech. We are absolutely against any content which advocates hatred against others based on race/ethnic origin, religion, gender, religion, disability, age, nationality, sexual orientation. This will not be tolerated.</li>

				<li class="text-din terms_li_no_bullet">We understand that people have strong personal views, however, we will not tolerate any form of online harassment or bullying. This includes intimidation, invading privacy, stalking, threats, revealing other people’s personal information. We work hard to keep your account and information protected. Please do not post someone's personal information, or post links to personal information. This includes links to public facebook pages.</li>


				<p class="text-din privacy_section_header">Hack attack</p>

				<li class="text-din terms_li_no_bullet">Don’t upload content with viruses or code designed to interrupt or in anyway cause harm to Whip or other peoples devices.</li> 

				
				<p class="text-din privacy_section_header">Watch your profanity</p>

				<li class="text-din terms_li_no_bullet">Offensive language and sexually explicit content is not permissible. Remember the human. When we communicate online, all we see is a computer screen. When outlining your view you might want to ask yourself “would I say it to the persons face?”.</li> 

				<p class="text-din privacy_section_header">Legal</p>

				<li class="text-din terms_li_no_bullet">We want you to share your opinions and views on Whip, however, before doing so, make sure you own all the content and information in your post. We ask that you respect intellectual property rights, including trademarks and copyrights.</li>

				<p class="text-din privacy_section_header">Get in contact</p>

				<li class="text-din terms_li_no_bullet">Our community is growing everyday and our goal is to make Whip an inclusive safe environment where everyone can engage with politics. To do this we rely on you. If you feel a user is not following the guidelines please get in contact. We are here to help.</li>
				

			</div>
		</div>
		
	</div>
	
</div><!-- .container max_924 -->