<div class="row">
	<div class="col-md-12" style="text-align: center;">
		BACKGROUND IMAGE
		<%= @user %>
	</div>
</div>


<div class="row" style="padding-bottom: 40px;">
	<div class="col-md-12" style="text-align: center;">
		BIG HERO IMAGE<br>
		<a href="#" data-toggle="modal" data-target="#signUpModal">SIGN UP</a>
	</div>
</div>


<div class="row" style="padding-bottom: 40px;">
	<div class="col-md-2 col-md-offset-2" style="text-align: center;">
		BACKGROUND IMAGE<br>
		ENGAGE
	</div>
	<div class="col-md-4" style="text-align: center;">
		BACKGROUND IMAGE<br>
		EDUCATE
	</div>
	<div class="col-md-2" style="text-align: center;">
		BACKGROUND IMAGE<br>
		EMPOWER
	</div>
</div>


<div class="row" style="padding-bottom: 40px;">
	<div class="col-md-6" style="text-align: center;padding-top: 120px;">
		BACKGROUND IMAGE
	</div>
	<div class="col-md-6" style="text-align: left;">
		<h2>WHAT WE DO</h2>
		<p>Lorem ipsum dolor sit amet, id debitis elaboraret disputationi vis, indoctum quaerendum eos eu. Sale ipsum ne nec. Vel facilis phaedrum te, ullum oportere elaboraret no sea. Ea tantas complectitur sea, movet tritani petentium mei eu, nec ex wisi vituperata consequuntur. Ipsum pertinax vel ne. Vidit theophrastus no eum.

Id mei facilis volumus similique, et ius accusamus persequeris. Pri ad sale tollit facilisi, mea oporteat urbanitas et. Nam viderer copiosae assentior te. Inermis philosophia no nam, iudico disputando no pri. Eu eam epicuri fastidii salutandi, audire reformidans ullamcorper ne mel. Ad movet virtute cum, ad saperet mentitum facilisi eam, ei eum utamur inermis.</p>
	</div>
</div>


<div class="row" style="padding-bottom: 40px;">
	<div class="col-md-6" style="text-align: right;">
		<h2>WHO WE ARE</h2>
		<p>Lorem ipsum dolor sit amet, id debitis elaboraret disputationi vis, indoctum quaerendum eos eu. Sale ipsum ne nec. Vel facilis phaedrum te, ullum oportere elaboraret no sea. Ea tantas complectitur sea, movet tritani petentium mei eu, nec ex wisi vituperata consequuntur. Ipsum pertinax vel ne. Vidit theophrastus no eum.

Id mei facilis volumus similique, et ius accusamus persequeris. Pri ad sale tollit facilisi, mea oporteat urbanitas et. Nam viderer copiosae assentior te. Inermis philosophia no nam, iudico disputando no pri. Eu eam epicuri fastidii salutandi, audire reformidans ullamcorper ne mel. Ad movet virtute cum, ad saperet mentitum facilisi eam, ei eum utamur inermis.</p>
	</div>
	<div class="col-md-6" style="text-align: center;padding-top: 120px;">
		BACKGROUND IMAGE
	</div>
</div>


<div class="row" style="padding-bottom: 40px;">
	<div class="col-md-12" style="text-align: center;">
		OUR GOAL
	</div>
	<div class="col-md-2 col-md-offset-2" style="text-align: center;">
		BACKGROUND IMAGE<br>
		ENGAGE
	</div>
	<div class="col-md-4" style="text-align: center;">
		BACKGROUND IMAGE<br>
		EMPOWER
	</div>
	<div class="col-md-2" style="text-align: center;">
		BACKGROUND IMAGE<br>
		EDUCATE
	</div>
</div>