<div class="row">
	<div class="col-md-12" style="text-align: center;">
		BACKGROUND IMAGE
	</div>
</div>


<div class="row">
	<div class="col-md-12" style="text-align: center;">
		BIG HERO IMAGE
		<a href="#" data-toggle="modal" data-target="#signUpModal">SIGN UP</a>
	</div>
</div>


<div class="row">
	<div class="col-md-2 col-md-offset-2" style="text-align: center;">
		BACKGROUND IMAGE
	</div>
	<div class="col-md-4" style="text-align: center;">
		BACKGROUND IMAGE
	</div>
	<div class="col-md-2" style="text-align: center;">
		BACKGROUND IMAGE
	</div>
</div>


<div class="row">
	<div class="col-md-6" style="text-align: center;">
		BACKGROUND IMAGE
	</div>
	<div class="col-md-6" style="text-align: left;">
		BACKGROUND IMAGE
	</div>
</div>


<div class="row">
	<div class="col-md-6" style="text-align: right;">
		BACKGROUND IMAGE
	</div>
	<div class="col-md-6" style="text-align: center;">
		BACKGROUND IMAGE
	</div>
</div>


<div class="row">
	<div class="col-md-12" style="text-align: center;">
		BACKGROUND IMAGE
	</div>
	<div class="col-md-2 col-md-offset-2" style="text-align: center;">
		BACKGROUND IMAGE
	</div>
	<div class="col-md-4" style="text-align: center;">
		BACKGROUND IMAGE
	</div>
	<div class="col-md-2" style="text-align: center;">
		BACKGROUND IMAGE
	</div>
</div>
