<div class="container max_924">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<img src="<%= image_path('terms-image-850.png') %>" class="width_100">
		</div>
		<div class="col-md-12 bottom_line_gray"></div>
	</div>

	<div class="padding_bottom_60 padding_top_20">
		<div class="panel panel-bills">
			<div class="panel-body">
				<h2 class="headers font_size_20 padding_left_30">JOBS</h2>

				<p class="text privacy_section_header">Work at Whip</p>
					<li class="text terms_li_no_bullet">Whip is always on the lookout for talent. We are looking for politically obsessed, tech minded individuals, who want to join a fast growing tech-startup. Do you read broadsheet newspapers daily, do you constantly follow twitter to get Westminster's updates, do you bore your friends with recent political facts, then you are our perfect employee. As a online civic engagement platform with vast amounts of content we need engaged and inspired individuals to work for Whip. If this sounds like you keep checking below for updates. </li>

				<p class="text-din-medium privacy_section_header">Current Vacant Positions</p>

				<p class="text privacy_section_header">Contributing Writers</p>
					<li class="text terms_li_no_bullet">We are currently hiring contributing researchers and writers for the online platform to help breakdown legislation, write for our tumblr blog and identify trends in Westminster and in the media. It is essential that candidates display impeccable time management as work in deadline driven. We require prerequisites of A-level politics and ability to write objective and engaging pieces. </li>

				<p class="text privacy_section_header">Location</p>
					<li class="text terms_li_no_bullet">Freelance writers based in the UK.</li>

				<p class="text privacy_section_header">Job description</p>
					<li class="text terms_li_no_bullet">Your role will be to sources together relevant resources for a piece of upcoming legislation. Break down the information then send it to our writers to summarize and upload onto Whip. Part time ad-hoc work reporting to Editor in Chief.  </li>

				<p class="text privacy_section_header">Qualities needed
					<li class="text terms_li_no_bullet">Impeccable time management. Ability to work in deadline driven environment is a must.</li>
					<li class="text terms_li_no_bullet">Ability to quantify, quickly and effectively, vast amounts of information and simplify it.</li>
					<li class="text terms_li_no_bullet">Solid understanding of Westminster political system and how legislation moves through Parliament.</li>
					<li class="text terms_li_no_bullet">Can work from home</li>

				<p class="text privacy_section_header">Payment</p>
					<li class="text terms_li_no_bullet">Pay hourly or per piece.</li>

				<p class="text privacy_section_header">Application</p> 
					<li class="text terms_li_no_bullet">To apply: send the following to <a href="mailto:info@whip.org.uk">info@whip.org.uk</a></li>
					<li class="text terms_li_no_bullet">CV/Cover letter</li>
					<li class="text terms_li_no_bullet">Write sample of a legislation breakdown i.e pick a piece of previous legislation and summarised it into the layout below. </li>
					<li class="text terms_li_no_bullet">Your own bill title, what the bill means (30-50 words), arguments for/against (30-50 each), impact (list demographics of who will be affected) and cost (trying and work out a rough cost) and then links to external resources.</li>

			</div>
		</div>
	</div>
</div><!-- .container max_924 -->