<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<img src="<%= image_path('terms-image-850.png') %>" style="width:100%;">
	</div>
	<div class="col-md-12 bottom_line_gray"></div>
</div>

<h2 class="headers" style="font-size: 20px;">WHIP: PRIVACY AND COOKIES POLICY</h2>

<p class="text">Because Whip is a new business and is evolving to meet the needs of its users, we may need to update this privacy policy from time to time and will notify you when we do.</p>

<p class="text privacy_section_header">OUR APPROACH TO PRIVACY</p>
	<li class="text terms_li">We want people who visit Whip on www.whip.org.uk to be able to take part fully in the activities, forums, campaigns and services we provide. We also want to make sure that when we collect information from you we do so in a way that does not infringe your right to privacy. This Privacy Policy is designed to give you useful information about your rights and the way we collect and use personal information.</li>
	<li class="text terms_li">We do not ask you to disclose any more information than is reasonably necessary to enable you to participate in any Whip activity and to improve our online services.</li>
	<li class="text terms_li">Other than as set out in this policy or notified to you from time to time, we do not disclose personal information we have collected from you to third parties. And other than as described in this Privacy Policy, we do not maintain any personal information obtained from users through this Website in a retrievable form.</li>

<p class="text privacy_section_header">THE INFORMATION WE COLLECT</p>
	<li class="text terms_li">Before you sign up to Whip on our Website, we ask you to confirm your agreement to the practices described in this policy.  In order to set up your Whip account on whip.org.uk, we may ask for your:</li>
	<li class="text terms_li">Name</li>
	<li class="text terms_li">Postcode</li>
	<li class="text terms_li">Email address</li>
	<li class="text terms_li">Password</li>
	<li class="text terms_li">Date of birth</li>
	<li class="text terms_li">You may also sign up to Whip through a social media account such as Facebook or Twitter.  We may then obtain certain information through your social media accounts connected to your Whip account. For example, if you log in to Whip via Facebook, we ask for your permission to access certain information about your Facebook account, activities and friends. Social media sites make information available to all apps through their APIs, such as friend lists. The information we receive depends on what information you or the social media site decide to give us.</li>
	<li class="text terms_li">You may also provide us with:</li>
	<li class="text terms_li">Your political party preference</li>
	<li class="text terms_li">Your voting preference for existing bills</li>
	<li class="text terms_li">Your views and comments on existing bills</li>
	<li class="text terms_li">Your profile picture (or we may adopt this from your social media account)</li>
	<li class="text terms_li">Your biography</li>
	<li class="text terms_li">A link to your website</li>
	<li class="text terms_li">Your social media account ID and information shared with us via your social media account</li>
	<li class="text terms_li">Other information that you submit voluntarily</li>

	<li class="text terms_li">Once you have registered, you will be designated a “myvotes” page and your own URL so that you can see how you have voted in respect of the bills compared to your local MP and your related comments.</li>

<p class="text privacy_section_header">HOW WE USE THE INFORMATION WE COLLECT</p>
	<li class="text terms_li">We collate our users’ information and send the voting results together with your name and email address to identify you and any  related comments for each bill to local MPs and other political bodies or political candidates.</li>
	<li class="text terms_li">We hope that you will choose to subscribe to our weekly email updates and you are free to unsubscribe from these whenever you want. We will only use your information to keep you updated of our  services  and where you have agreed to this.  You can unsubscribe at any time either through the unsubscribe option on the email or by changing your choices on the settings tab in your account.</li>
	<li class="text terms_li">We need information about your social media account and activities to facilitate the social sharing functionality, such as sharing content through Whip and other social media platforms like Facebook and Twitter.</li>
	<li class="text terms_li">We may use and share aggregated and anonymised information to better understand and serve our users and to inform others of voting patterns. For example, we may compile statistics like the percentage of our users of a particular age range in a particular geographic location who vote a particular way for a particular bill.</li>

<p class="text privacy_section_header">HOW DO WE SHARE YOUR PERSONAL DATA
	<li class="text terms_li">With your local MP: When we email your local MP to inform them of how their constituents wish to vote on a particular bill, we will verify the data that we send them by including your name and email address to confirm that you live in the relevant constituency.  This service provides the backbone to Whip and we hope it will make local MPs more accountable to their constituents.  If you don’t want your personal information send to your local MP then please do not vote.</li>
	<li class="text terms_li">Through whip.org.uk: Your name, your profile, your voting record, any comments you have made about a particular bill and your followers and following will be displayed on your my votes page.  This information will be viewable to any visitor, including the media, search engines, and other organisations that provide archival Internet activities. If you do not wish to have your personal information displayed in this way, you may elect to create a private rather than a public “my votes” page.</li>
	<li class="text terms_li">Through social media accounts: You may share your Whip activities with friends on other social media sites, for example, on Facebook. To do so, you must connect your Whip account with your social media account. Where you do this, you authorise us to share information with your social media account provider, and you understand that the use of the information we share will be governed by the social media site’s privacy policy. If you do not want your information shared with other social media users or with your social media account provider, please do not connect your social media account with your Whip account.</li>
	<li class="text terms_li">Where we provide details of new bills, you may voluntarily submit comments on our website and through social media platforms. Please note that any information you post or disclose in this way will become public information (assuming your account is public), and may be available to other Whip users, social media platform users and to the general public. We urge you to be very careful when deciding to disclose any information about yourself via the social sharing features of our platform. For more details regarding posting content to our platform, please see our Terms and our Whip Guidelines. [insert links]. Where there is any conflict between the Whip Guidelines and the Terms, the Terms shall prevail.</li>  
	<li class="text terms_li">Administrative purposes: Other than as set out above, we will only share your information with third parties for the following further purposes:</li>
	<li class="text terms_li">With our services providers who process information to provide services to us or on our behalf. We have contracts with our service providers that prohibit them from sharing the information about you that they collect or receive with anyone else or from using such information for other purposes.</li>
	<li class="text terms_li">If we believe disclosure is necessary to investigate, prevent, or respond to suspected illegal or fraudulent activity or to protect the safety, rights, or property of us, our users, or others.</li>
	<li class="text terms_li">If requested or required by government authorities, such as law enforcement authorities, courts, or regulators, or otherwise to comply with the law, we may have to disclose any information we have about our users. We also may disclose information collected about you in order to exercise or protect legal rights or defend against legal claims.</li>
	<li class="text terms_li">We have no plans to sell our business. In the unlikely event that we decide to sell any business or assets, we may need to disclose and transfer your personal data to the prospective buyer of such business or assets.</li>
	<li class="text terms_li">If we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our Terms and Conditions [INSERT LINK] and other agreements.</li>

<p class="text privacy_section_header">YOUR ACCOUNT</p>
	<li class="text terms_li">Your Whip profile is set to public by default. If you would prefer to make your Whip profile private, you can elect to do so in the Settings section of your account. 
	<li class="text terms_li">You can ask us for the information we have about your account and even ask us to delete it.</li>
	<li class="text terms_li">If you would like to review, correct, update, suppress, or delete information that has been previously provided to us by you, you may log in to your account, click on the Settings tab and update your profile information.  You can also email contact@whip.org.uk.</li>

<p class="text privacy_section_header">RECEIVING EMAILS FROM US</p>
	<li class="text terms_li">If you no longer want to receive marketing-related emails from Whip, you may opt out of receiving these by following the instructions contained in any such email or by logging in to your account, clicking on “Settings,” and selecting “Email Preferences”.</li>

	<li class="text terms_li">We will comply with your request(s) as soon as reasonably practicable. Please also note that if you do opt out of receiving marketing-related emails from us, we may still send you important administrative messages (such as updates about your account or service changes), and you cannot opt out from receiving these messages.</li>

<p class="text privacy_section_header">HOW WE LOOK AFTER YOUR DATA</p>
	<li class="text terms_li">We take a lot of measures to protect your personal information. If you suspect someone else is using your account or your account is no longer secure, please let us know.</li>
	<li class="text terms_li">We seek to use reasonable organisational, technical, and administrative measures to protect your information within Whip from loss, misuse, unauthorised access or disclosure, alteration and/or destruction. We take reasonable steps to ensure that all data we process is reliable for its intended use, accurate, complete and current to the extent necessary for the purposes for which we use it. Unfortunately, no data transmission or storage system can be guaranteed to be 100% secure.</li> 
	<li class="text terms_li">We will retain your personal data for the period necessary to fulfil the purposes outlined in this Privacy Policy, unless a longer retention period is required by law.</li>

<p class="text privacy_section_header">COOKIES</p>
	<li class="text terms_li">We use cookies on this website to make your experience better. Cookies are alphanumeric identifiers that we transfer to your computer's hard drive through your web browser. They enable us to recognize your web browser. In effect, cookies tell us when you have visited our Website and where you have been, but they do not identify you personally – just the presence of your browser. We use cookies to see how often people visit our Website and what they look at. This helps us to know what parts of the site are popular – what people are interested in – so we can make sure we have more interesting material on the site in future. If you don't want us to be able to do this, your browser's help section should be able to tell you how you can disable or filter cookies and how to arrange for your browser to tell you when you've been sent a new cookies.</li>
	<li class="text terms_li">We use cookies to track the following information on the Website anonymously, or as ‘aggregate' data: users' ISPs, the domain names of the pages from which users come to the Website, users' browsers and operating systems.</li>
	<li class="text terms_li">You may sometimes notice cookies unrelated to Whip when there is content embedded on our website from e.g. Facebook, YouTube or Flickr.  We do not control the dissemination of these cookies and you can check the relevant third party website for information about how to block their cookies.</li><br>
<p class="text">If you have any questions about this Website or our privacy policy or wish to remove your details from our database, please send us a message at contact@whip.org.uk.</p>
<p class="text">Thank you for using Whip.</p>
