<div class="container">
	<h4 class="text-din text-left" style="">Constituencies In Database - <%= @constituencies.length %> Total</h4>
	<div class="row admin-content">
		<div class="col-sm-9" role="main">
			<% if @constituencies.any? %>
				<ul class="list-group">
				<% @constituencies.each do |constituency| %>
					<li class="list-group-item">
						<%= constituency.name %> / <%= constituency.mp.name if constituency.mp %>
					</li>
				<% end %>
				</ul>
			<% end %>
		</div>
		<%= render "admins/admin_sidebar" %>
	</div>
</div> <!-- .container -->