<%= link_to "Update Constituencies In DB", populate_constituencies_admins_path, :method=> :post, confirm: 'question?' %> <%= @constituencies.length %>
<% if false %>
<div class="row">
	<div class="col-md-8">
		<% if @constituencies.any? %>
			<% @constituencies.each do |constituency| %>
				<%= constituency.name %><br>
			<% end %>
		<% end %>
	</div>
	<%= render "admins/admin_sidebar" %>
</div>
<% end %>