<div class="row">
	<div class="col-md-8">
		<% if @post_codes.any? %>
			<% @post_codes.each do |post_code| %>
				<%= post_code.name %><br>
			<% end %>
		<% end %>
	</div>
	<%= render "admins/admin_sidebar" %>
</div>