<div class="col-md-6" id="hidden_mp" style="display:none;">
  <div class="row">

    <div class="col-sm-4">
      <img src="<%= @mp.picture_url if @mp && @mp.picture_url %>" style="height:141px;width:141px;background-color:#10b8b8;border-radius:50%;">

    </div>
    <div class="col-sm-8">
      <div id="mp-info" style="display:inline-block;">
        <div style="text-transform:uppercase;padding-bottom:4px;" class="clearfix">
          <%= @mp.name %>
        </div>
        <%= render :partial => 'mps/side_partial', :locals => { :mp => @mp } %>
        <div style="text-transform:uppercase;padding-bottom:4px;" class="clearfix">
          <%= @mp.phone %>
        </div>
      </div><!-- #mp-info -->
    </div>
  </div>
</div>