<div class="container max_924 padding_bottom_60">

	<%= render :partial => 'shared/top_banner_with_names', :locals => { :user => current_user } %>

	<h4 class="text-din padding_bottom_24">Users Following You</h4>

	<% if @users.any? %>
		<%= render partial: "users/followers_list", collection: @users, as: :user %>
	<% end %>

</div>