<div class="container max_924 padding_bottom_60">


	<%= render :partial => 'shared/top_banner_with_names', :locals => { :user => current_user } %>

	<h4 class="text-din padding_bottom_24">Users You Are Following</h4>

	<% if @users.any? %>
		<ul class="list-group">
			<%= render partial: "users/users_following", collection: @users, as: :user %>
		</ul>
	<% end %>


</div> <!--.container max_924 -->