<div class="container max_924">
	<%= render :partial => 'shared/top_banner_with_names', :locals => { :user => current_user } %>
	<%= render 'follow_form' if signed_in? %>

	<div class="row trending_bills" >
		<% if @votes.any? %>
		 	<%= render partial: "users/vote_list", collection: @votes, as: :vote %>
		<% end %>
	</div>

</div><!-- .container max 924 -->