<div class="row" style="">
	<div class="col-sm-4 col-xs-12 extra_social_padding" style="">
		<div class="" style="padding-top: 6px;">
			<p class="headers">SOCIAL SIGN UP</p>
			<a href="<%= root_url %>users/auth/facebook?image_size=large"><!--SIGN IN WITH FACEBOOK--><i class="fa fa-facebook fa-2x" style="color:#3b589e;padding-right: 10px;"></i></a>
			<a href="<%= root_url %>users/auth/twitter?image_size=original"><!--SIGN IN WITH TWITTER--><i class="fa fa-twitter fa-2x" style="color:#20b8ff;"></i></a>
		</div>
	</div>
	<div class="col-sm-4 col-sm-4 col-xs-12" style="text-align: center;border-bottom: 1px solid #C9C9C9;">
		<img src="<%= image_path('terms-image-850.png') %>" class="width_100" style="height: 73px;width: 190px;">
	</div>
	<div class="col-sm-4 col-sm-4 col-xs-12 extra_mp_padding">
		<div class="" style="text-align: center;padding-top: 6px;">
			<p class="headers">EMAIL SIGN UP</p>
			<a class="" href="#" data-toggle="modal" data-target="#emailsignUpModal"><img src="<%= image_path('email_icon.png') %>" style="height:22px;"></a>
		</div>
	</div>
</div>