// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-buffer { margin-top:9px; }

/* modals */
.modal-content {
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
	.modal-content {
	  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}


@media (min-width: 480px) {
  .modal-alert .modal-dialog {
    width: 350px;
  }
}
.modal-alert .modal-header,
.modal-alert .modal-title,
.modal-alert .modal-body,
.modal-alert .modal-footer {
  background: none;
  border: none;
  margin: 0;
  padding: 0 20px;
  text-align: center !important;
}
.modal-alert .modal-header {
  color: #fff;
  margin-bottom: 20px;
  padding: 25px 0 18px 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  border-bottom: 4px solid rgba(0, 0, 0, 0.08);
}
.modal-alert .modal-header .fa {
  font-size: 90px;
}
.modal-alert .modal-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
}
.modal-alert .modal-body {
  color: #888;
}
.modal-alert .modal-footer {
  margin: 25px 0 20px 0;
}
.modal-alert.modal-info .modal-header {
  background: #5bc0de;
}
.modal-alert.modal-danger .modal-header {
  background: #d9534f;
}
.modal-alert.modal-warning .modal-header {
  background: #f4b04f;
}
.modal-alert.modal-success .modal-header {
  background: #5ebd5e;
}

@media (min-width: 480px) {
  .modal-whip-red .modal-dialog {
    width: 350px;
  }
}
.modal-whip-red .modal-header,
.modal-whip-red .modal-title,
.modal-whip-red .modal-body,
.modal-whip-red .modal-footer {
  background: none;
  border: none;
  margin: 0;
  padding: 0 20px;
  text-align: center !important;
}
.modal-whip-red .modal-header {
  color: #fff;
  margin-bottom: 20px;
  padding: 25px 0 18px 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  border-bottom: 4px solid rgba(0, 0, 0, 0.08);
}
.modal-whip-red .modal-header .fa {
  font-size: 90px;
}
.modal-whip-red .modal-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
}
.modal-whip-red .modal-body {
  color: #888;
}
.modal-whip-red .modal-footer {
  margin: 25px 0 20px 0;
}
.modal-whip-red .modal-header {
  background: #f58b8b;
}

@media (min-width: 480px) {
  .modal-whip-blue .modal-dialog {
    width: 350px;
  }
}
.modal-whip-blue .modal-header,
.modal-whip-blue .modal-title,
.modal-whip-blue .modal-body,
.modal-whip-blue .modal-footer {
  background: none;
  border: none;
  margin: 0;
  padding: 0 20px;
  text-align: center !important;
}
.modal-whip-blue .modal-header {
  color: #fff;
  margin-bottom: 20px;
  padding: 25px 0 18px 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  border-bottom: 4px solid rgba(0, 0, 0, 0.08);
}
.modal-whip-blue .modal-header .fa {
  font-size: 90px;
}
.modal-whip-blue .modal-title {
  /*
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
  */
}
.modal-whip-blue .modal-body {
  color: #888;
}
.modal-whip-blue .modal-footer {
  margin: 25px 0 20px 0;
}
.modal-whip-blue .modal-header {
  background: #97d9ff;
}

@media (min-width: 500px) {
  .modal-whip-comment .modal-dialog {
    width: 480px;
  }
}

/* bootstrap over rides */
.modal-content {
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}
.modal-body {
	padding: 0 30px 30px 30px !important;
}

.form-control {
	border-color: #bcbcbc !important;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}
.modal-backdrop.in {
	opacity: 0.7 !important;
	filter: alpha(opacity=70) !important;
}
/* end bootstrap over rides */

.modal-whip-comment .modal-header {
	margin-bottom: 20px;
	padding: 50px 0 0 0;
	text-align:center;
	background: #ffffff;
	border-bottom: none !important;
}

.modal-whip-comment .modal-header h4 {
	font-weight: normal;
}


.modal-whip-vote-yes .modal-header {
	color: #ffffff;
	background: #f58b8b;
}

.modal-whip-vote-no .modal-header {
	color: #ffffff;
	background: #97d9ff;
}

/* flat buttons */
.btn.btn-flat {
  border-bottom-width: 3px;
}
.btn.btn-flat:focus {
  border-bottom-width: 3px;
}
.btn.btn-flat:active {
  border-bottom-width: 1px !important;
  margin-top: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.btn-flat.btn-lg {
  border-bottom-width: 3px;
}
.btn.btn-flat.btn-lg:active {
  margin-top: 2px;
}
.btn.btn-flat.btn-xs {
  border-bottom-width: 2px;
}
.btn.btn-flat.btn-xs:active {
  margin-top: 1px;
}
.btn.btn-outline,
.btn.btn-outline.btn-flat,
.btn.btn-outline.btn-primary,
.btn.btn-outline.btn-flat.btn-primary {
  background: none;
  color: #555555;
  background: url('../images/pixel-admin/blank.png')\9;
}
.btn.btn-outline,
.btn.btn-outline.btn-flat,
.btn.btn-outline.btn-primary,
.btn.btn-outline.btn-flat.btn-primary,
.btn.btn-outline:focus,
.btn.btn-outline.btn-flat:focus,
.btn.btn-outline.btn-primary:focus,
.btn.btn-outline.btn-flat.btn-primary:focus,
.btn-group > .btn.btn-outline,
.btn-group > .btn.btn-outline.btn-flat,
.btn-group > .btn.btn-outline.btn-primary,
.btn-group > .btn.btn-outline.btn-flat.btn-primary,
.btn-group > .btn.btn-outline:focus,
.btn-group > .btn.btn-outline.btn-flat:focus,
.btn-group > .btn.btn-outline.btn-primary:focus,
.btn-group > .btn.btn-outline.btn-flat.btn-primary:focus,
.input-group-btn > .btn.btn-outline,
.input-group-btn > .btn.btn-outline.btn-flat,
.input-group-btn > .btn.btn-outline.btn-primary,
.input-group-btn > .btn.btn-outline.btn-flat.btn-primary,
.input-group-btn > .btn.btn-outline:focus,
.input-group-btn > .btn.btn-outline.btn-flat:focus,
.input-group-btn > .btn.btn-outline.btn-primary:focus,
.input-group-btn > .btn.btn-outline.btn-flat.btn-primary:focus {
  background: none;
  border-color: #e0e0e0;
  border-color: rgba(0, 0, 0, 0.12);
  background: url('../images/blank.png')\9;
}
.btn.btn-outline.dark,
.btn.btn-outline.dark.btn-primary {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  background: url('../images/blank.png')\9;
}
.btn.btn-outline.dark,
.btn.btn-outline.dark.btn-primary,
.btn.btn-outline.dark:focus,
.btn.btn-outline.dark.btn-primary:focus {
  border-color: #595959;
  border-color: rgba(255, 255, 255, 0.12);
}
.btn.btn-outline.dark:hover,
.btn.btn-outline.dark.btn-primary:hover,
.btn.btn-outline.dark:active,
.btn.btn-outline.dark.btn-primary:active {
  border-color: transparent !important;
}

.btn-square {
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}
.btn-c9-border {
	border-color: #c9c9c9 !important;
}
/* sidebar */
.bs-docs-sidebar.affix{position:static}
@media (min-width:768px){.bs-docs-sidebar{padding-left:20px}
}
.bs-docs-sidenav{margin-top:20px;margin-bottom:20px}
.bs-docs-sidebar .nav>li>a{font-family: 'dinRegular';display:block;padding:4px 20px;font-size:13px;font-weight:500;color:#767676}
.bs-docs-sidebar .nav>li>a:focus,.bs-docs-sidebar .nav>li>a:hover{padding-left:19px;color:#f58b8b;text-decoration:none;background-color:transparent;border-left:1px solid #f58b8b}
.bs-docs-sidebar .nav>.active:focus>a,.bs-docs-sidebar .nav>.active:hover>a,.bs-docs-sidebar .nav>.active>a{padding-left:18px;font-weight:700;color:#97d9ff;background-color:transparent;border-left:2px solid #97d9ff}
.bs-docs-sidebar .nav .nav{display:none;padding-bottom:10px}
.bs-docs-sidebar .nav .nav>li>a{padding-top:1px;padding-bottom:1px;padding-left:30px;font-size:12px;font-weight:400}
.bs-docs-sidebar .nav .nav>li>a:focus,.bs-docs-sidebar .nav .nav>li>a:hover{padding-left:29px}
.bs-docs-sidebar .nav .nav>.active:focus>a,.bs-docs-sidebar .nav .nav>.active:hover>a,.bs-docs-sidebar .nav .nav>.active>a{padding-left:28px;font-weight:500}
.back-to-top,.bs-docs-theme-toggle{display:none;padding:4px 10px;margin-top:10px;margin-left:10px;font-size:12px;font-weight:500;color:#999}
.back-to-top:hover,.bs-docs-theme-toggle:hover{color:#563d7c;text-decoration:none}
.bs-docs-theme-toggle{margin-top:0}
@media (min-width:768px){.back-to-top,.bs-docs-theme-toggle{display:block}
}
@media (min-width:992px){.bs-docs-sidebar .nav>.active>ul{display:block}
.bs-docs-sidebar.affix,.bs-docs-sidebar.affix-bottom{width:213px}
.bs-docs-sidebar.affix{position:fixed;top:20px}
.bs-docs-sidebar.affix-bottom{position:absolute}
.bs-docs-sidebar.affix .bs-docs-sidenav,.bs-docs-sidebar.affix-bottom .bs-docs-sidenav{margin-top:0;margin-bottom:0}
}
@media (min-width:1200px){.bs-docs-sidebar.affix,.bs-docs-sidebar.affix-bottom{width:263px}
}

.admin-content {
	padding-bottom: 60px;
}
