// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


//
// Fonts
//

@font-face {
  font-family: 'dinMedium';
  src: font-url('din_medium.eot');
  src: font-url('din_medium.eot?#iefix') format('embedded-opentype'),font-url('din_medium.woff') format('woff'),font-url('din_medium.ttf') format('truetype');
}

@font-face {
  font-family: 'dinRegular';
  src: font-url('din_regular.eot');
  src: font-url('din_regular.eot?#iefix') format('embedded-opentype'),font-url('din_regular.woff') format('woff'),font-url('din_regular.ttf') format('truetype');
}

.text {
  font-family: dinRegular;
  font-size: 12px;
  color: black;
}

.text-din {
  font-family: dinRegular;
}

.headers {
  font-family: dinMedium;
  font-size: 14px;
  color: black;
}

.terms_li {
  margin-left: 54px;
  padding-left: 30px;
}

.headers_padding {
	padding-bottom: 20px;
}

.privacy_section_header {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 24px;
  margin-bottom: 6px;
}

//
// Label Later
//

.bottom_line_gray {
    border-bottom: #d2d2d2 1px solid
}

#prelaunch_text_box {
    width: 260px;
    padding: 4px;
    border: 1px solid #9e9e9e;
    margin-bottom: 10px;
    margin-top: 8px;
    height: 36px;
}

.prelaunch_submit_btn {
    background: none repeat scroll 0% 0% transparent;
    border: 1px solid #9E9E9E;
}

.prelaunch_footer_text{
    font-size: 12px;
    color: #716E6E;
    margin-bottom: 0;
}

.prelaunch_text_engage {
    color: #716E6E;
    letter-spacing: 6px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin: 0;
}

html,body{
    height: 100%
}

#holder{
    min-height: 100%;
    position:relative;
}

#body{
    padding-bottom: 120px;    /* height of footer */
}

.footer{
    height: 120px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #f5f5f5;
}


a {
  color: black;
}

a:hover {
	color: black;
}


img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 767px) {
  .hide_name {
	 display:none;
  }
}

@media (min-width: 767px) {
	.hidden_half {
		display:none;
	}
}
@media (max-width: 767px) {

  .blank-padding {
    padding-top: 20px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 0px;
  }
}

@media (min-width: 767px) {

  .blank-padding {
    padding-top: 20px;
    padding-left: 60px !important;
    padding-right: 60px !important;
    padding-bottom: 0px;
  }
  .arguments-left {
  	padding-left:0 !important;
  }
  .arguments-right {
  	padding-right:0 !important;
  }
}

.light_blue_hover:hover {
  background: rgba(204, 255, 255, 0.33);
}

.light_pink_hover:hover {
  background:#fef1f1;
}

.padding_40 {
	padding-top:40px;
	padding-bottom:40px;
}



#join_mailing_list_form .form-control {
	border: 1px solid #9e9e9e;
	border-radius: 0;
	text-align: left !important;
	box-shadow: none !important;
}

.btn-signup {
	color: #ef4747;
	border: 1px solid #9e9e9e !important;
	border-radius: 0 !important;
	background-color: #fff;
}
.btn-vote-yes {
	color: #fff;
	border: 1px solid #f58b8b !important;
	border-radius: 0 !important;
	background-color: #f58b8b;
}
.btn-vote-no {
	color: #fff;
	border: 1px solid #97d9ff !important;
	border-radius: 0 !important;
	background-color: #97d9ff;
}
.header-argument-for {
	color: #f58b8b;
	font-family: dinRegular;
}
.header-argument-against {
	color: #97d9ff;
	font-family: dinRegular;
}
#masthead {
	padding-top: 160px;
}
.panel-bills {
	border:1px solid #a1a1a1 !important;
	border-radius:0 !important;
}
.panel-bills-slider {
	border-bottom:1px solid #a1a1a1 !important;
	border-radius:0 !important;
}
.panel-bills-slider .panel-body {
	padding-top: 0;
}

#main-bill {
	text-align: center;
	background-image: url("/assets/bill-standard-background.jpg"); 
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #535b64;
	/* need to change this */
	height: 309px;
	width: 100%;
	position: relative;
}
#main-bill h1 a, #main-bill h3 a,#main-bill h1,#main-bill h3 {
	font-family: 'dinRegular';
	color:#fff;
	text-transform: uppercase;
}
.main-bill-arguments {
	font-family: 'dinRegular';
	margin-bottom: 20px; border-bottom: 1px solid #c0c0c0; padding-bottom: 20px;
}

.vertical-align-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.vertical-align {
  display: table-cell;
}

.vertical-align--middle {
  vertical-align: middle;
}

.common-bill {
	text-align: center;
	background-image: url("/assets/bill-standard-background.jpg"); 
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #535b64;
	height: 194px;
	width: 100%;
	position: relative;
}

.common-bill-title a {
	color:#fff;
	font-weight: bold;
}

.navbar-brand, .navbar-default .navbar-nav > li > a {
	font-size: 12px !important;
}

.navbar-default {
	background-color: #fff !important;
	border-bottom:1px solid #adadad !important;
}

.grey {
	background-color:#eaeaea !important;
}
.white-container {
	background-color:#fff;
	padding-bottom:60px;
}