<div class="form-group">
	<%= text_field_tag "content", "", placeholder: "Your Comment", class:'form-control' %>
	<%# submit_tag "Add Comment", id: "add_comment" %>
</div>
<div class="form-group">
	<%= button_tag(type: 'submit',  id: "add_comment", class: "btn btn-outline") do %>
		<i class="glyphicon glyphicon-plus"></i> Add Comment
	<% end %>
</div>