<div class="text-center" id="vote-modal-social">
	<p class="text-din">SHARE YOUR VOTE</p>
	<a href="" id="fb_share" class="text-muted"><i class="fa fa-facebook fa-2x"></i></a>
	<a class="twitter popup tw_share text-muted" href="http://twitter.com/intent/tweet?text="><i class="fa fa-twitter fa-2x"></i></a>
</div>