<div class="text-center" id="vote-modal-social">
	<p class="text-din">SHARE YOUR VOTE</p>
	<a href="" id="fb_share" class="text-muted"><i class="fa fa-facebook fa-2x"></i></a>
	<a class="twitter popup tw_share text-muted" href="http://twitter.com/intent/tweet?text="><i class="fa fa-twitter fa-2x"></i></a>
</div>
<script type="text/javascript">
	$('body').on('click','#fb_share',function(e){
		e.preventDefault();
		var vote_text = $('#myModalLabelVote').text();
		var needed_bill = $('.find_bill_id').text();
		
		$.ajax({
		    type: "GET",
		    url: "/bills/" + needed_bill,
		    dataType: "json",
		    success: function(data){
		      console.log(data);
		      console.log(data.image_url);
		      if (data.social_image_url) {
		      	var right_image = data.social_image_url
		      } else {
		      	var right_image = data.image_url
		      }

		      FB.ui(
				 {
				  method: 'feed',
				  name: "WHIP",
				  link: 'http://whip.org.uk',
				  href: "https://www.facebook.com/whipuk",
				  actions: [{ "name" : "Our Facebook Page", "link" : "https://www.facebook.com/whipuk"}],
				  description: "I just " + vote_text + ": " + data.simple_name + ".",
				  picture: 'https:' + right_image,
				}, function(response){});


		    }
		  });

		ga('send', 'event', 'Social', 'FB', 'share');

	});

	$('.tw_share').click(function(event) {
		event.preventDefault();
		ga('send', 'event', 'Social', 'TW', 'share');
		var vote_text = $('#myModalLabelVote').text();
		var needed_bill = $('.find_bill_id').text();
		$.ajax({
		    type: "GET",
		    url: "/bills/" + needed_bill,    
		    dataType: "json",
		    success: function(data){
		      console.log(data);
		      console.log(data.image_url);

		      var width  = 575,
		        height = 400,
		        left   = ($(window).width()  - width)  / 2,
		        top    = ($(window).height() - height) / 2,
		        url    = "http://twitter.com/intent/tweet?text=I just " + vote_text + " " + data.simple_name + " at&url=http://www.whip.org.uk/",
		        opts   = 'status=1' +
		                 ',width='  + width  +
		                 ',height=' + height +
		                 ',top='    + top    +
		                 ',left='   + left;
		    
		    window.open(url, 'twitter', opts);
		 


		    }
		  });
	  });

	
	    
</script>