<div class="text-center" id="vote-modal-social">
	<p class="text-din">SHARE YOUR VOTE</p>
	<a href="" id="fb_share" class="text-muted"><i class="fa fa-facebook fa-2x"></i></a>
	<a class="twitter popup text-muted" href="http://twitter.com/share?text=I%20just%20voted%20on%20Whip!%20Check%20it%20out%20at%0D%0A&url=http://www.whip.org.uk/"><i class="fa fa-twitter fa-2x"></i></a>
</div>
<script type="text/javascript">
	$('body').on('click','#fb_share',function(e){
		e.preventDefault();
		ga('send', 'social', 'FB', 'share');

		FB.ui(
			 {
			  method: 'share',
			  href: 'http://whip.org.uk',
			  caption: 'I just voted on Whip!',
			}, function(response){});
	});

	$('body').on('click','#tw_share',function(e){
		e.preventDefault();
		ga('send', 'social', 'TW', 'share');

		$('.twitter-share-button').trigger('click');

	});

	 $('.popup').click(function(event) {
	    var width  = 575,
	        height = 400,
	        left   = ($(window).width()  - width)  / 2,
	        top    = ($(window).height() - height) / 2,
	        url    = this.href,
	        opts   = 'status=1' +
	                 ',width='  + width  +
	                 ',height=' + height +
	                 ',top='    + top    +
	                 ',left='   + left;
	    
	    window.open(url, 'twitter', opts);
	 
	    return false;
	  });
</script>