<footer class="footer" style="background:white; width:100%;padding-left: 60px;padding-right: 60px;">
	<div class="col-md-12" style="">
		<div class="row">
			<div class="col-md-12" style="margin-bottom: 25px;border-bottom: 1px solid rgb(3, 3, 3);">
				<div class="row">
					<div class="col-md-6">
						<h2>ISSUES</h2>
					</div>
					<div class="col-md-1 col-md-offset-3">
						<h2>INFO</h2>
					</div>
					<div class="col-md-1" style="text-align:right;min-width: 150px;">
						<div class="row" style="margin-top: 26px;">
							<div class="col-md-4">
								<%= link_to "FB", "#" %>
							</div>
							<div class="col-md-4">
								<%= link_to "TW", "#" %>
							</div>
							<div class="col-md-4">
								<%= link_to "EM", "#" %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6" style="text-align:left;">
				<div class="row">
					<div class="col-md-3">
						<p>Arts and culture</p>
						<p>Crime</p>
						<p>Defence</p>
						<p>Devolution</a></p>
					</div>
					<div class="col-md-3">
						<p>Economy</p>
						<p>Education</p>
						<p>Energy</p>
						<p>Environment</a></p>
					</div>
					<div class="col-md-3">
						<p>Family</p>
						<p>Health</p>
						<p>Human Rights</p>
						<p>Immigration</a></p>
					</div>
					<div class="col-md-3">
						<p>Pensions</p>
						<p>Students</p>
						<p>Transport</p>
						<p>Tax</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-1 col-md-offset-3" style="text-align:center;">
				<p>About</p>
				<p>Contact</p>
				<p>Feedback</p>
				<p>Jobs</p>
			</div>
			<div class="col-md-1" style="text-align:right;min-width: 150px;">
				<p>Privacy Policy</p>
				<p>Team</p>
				<p>Terms of service</p>
				<p>WHIP guidlines</p>
			</div>
		</div>
	</div>
</footer>