<div class="col-md-12" style="padding-top: 20px;">
	<div class="row" style="text-align:right;">
		<div class="col-md-1 col-md-offset-10 col-xs-1" style="width: auto;">
			<a href="https://www.facebook.com/whipuk" target="_blank"><img src="<%= image_path('fb_icon.png') %>"></a>
		</div>
		<div class="col-md-1 col-xs-1" style="width: auto;">
			<a href="https://twitter.com/whipuk" target="_blank"><img src="<%= image_path('tw_icon.png') %>"></a>
		</div>
		<div class="col-md-1 col-xs-1" style="width: auto;">
			<a href="https://instagram.com/whipuk/" target="_blank"><img src="<%= image_path('insta_icon.png') %>"></a>
		</div>
	</div>
</div>
