<div class="col-md-12" style="padding-top: 20px;z-index: 15;">
	<div class="row" style="text-align:right;">
			<a href="https://www.facebook.com/whipuk" target="_blank"><img src="<%= image_path('fb_icon.png') %>" style="margin-left: 20px;"></a>
			<a href="https://twitter.com/whipuk" target="_blank"><img src="<%= image_path('tw_icon.png') %>" style="margin-left: 10px;"></a>
			<a href="https://instagram.com/whipuk/" target="_blank"><img src="<%= image_path('insta_icon.png') %>" style="margin-right: 20px;margin-left: 10px;"></a>
	</div>
</div>
